@import url('https://fonts.cdnfonts.com/css/montserrat');

html {
    background-color: #bae719;
}

body {
    background-color: #f0f0f2;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

/* The laoding animation */
.loading-animation {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity 500ms;
}

.loading-animation img {
    width: 100%;
}

aside {
    z-index: 5;
    display: block;
    top: 50%;
    animation: fadeout 1000ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.bg-overlay {
    z-index: 4;
    background-color: #bae719;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    animation: fadeout 1000ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* The logo */
.logo {
    position: fixed;
    display: block;
    margin-right: auto;
    margin-top: -12, 5px;
    /* Negative half of height. */
    margin-left: -200px;
    /* Negative half of width. */
    left: 50%;
    right: 50%;
    padding-top: 32px;
    mix-blend-mode: difference;
    z-index: 1;
}

/* The sidenav */
.sidenav {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Page content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #696969;
    display: block;
    transition: 0.3s;
}

/* The navigation menu links */
.nav-link:hover {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #bae719;
    display: block;
    transition: 0.3s;
}

/* The email */
.email {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The email link */
.email a {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    text-align: right;
    font-size: 14px;
    color: #696969;
    display: block;
    transition: 0.3s;
}

/* The showreel */
.videocenter {
    text-align: center;
    padding-top: 100px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.videocenter>.player-buttons{
    height: 64px;
    left: 50%;
    margin: 0;
    top: 50%;
    width: 64px;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    transform: translateY(-50%);
}

:hover.videocenter>.player-buttons{
    height: 64px;
    left: 50%;
    margin: 0;
    top: 50%;
    width: 64px;
    z-index: 2;
    transition: 50ms;
    visibility: visible;
    position: absolute;
    opacity: 50%;
    transform: translateY(-50%);
}

#myVideo {
    z-index: 1;
}


/* The gallery */
.container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 175px;
}

/* The gallery */
.galleryimg {
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
    padding: 15px;
}

.galleryimg:hover {
    cursor: pointer;
    opacity: 50%;
}


/* The footer */
.footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 100%;
}

/* The footer links */
.footer a {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #696969;
    display: inline;
    transition: 0.3s;
}

/* The footer links */
.footer-link:hover {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #bae719;
    display: inline;
    transition: 0.3s;
}


/* The copyright */
.copy {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* The copyright links */
.copy-link {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #696969;
    display: inline;
    transition: 0.3s;
}